{
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "proseWrap": "never",
    "trailingComma": "none",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.html", "*.css", "*.scss", "*.json"],
            "options": { "printWidth": 70, "tabWidth": 2 }
        },
        {
            "files": ["*.ts", "*.tsx", "*.js"],
            "options": { "printWidth": 130 }
        },
        { "files": ["*.yaml"], "options": { "tabWidth": 2, "printWidth": 200 } }
    ]
}
